@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

/* swiper */
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px !important;

  background-color: #fff;
  clip-path: polygon(
    10% 0,
    80% 0%,
    100% 0,
    100% 90%,
    90% 100%,
    0 100%,
    0% 80%,
    0 10%
  );
}
.swiper-slide .link {
  clip-path: polygon(
    11% 0,
    80% 0%,
    100% 0,
    100% 56%,
    87% 100%,
    0 100%,
    0% 80%,
    0 46%
  );
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
