@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Rajdhani:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f9f9f9;
  scroll-behavior: smooth;
}

.titleText {
  font-family: "Orbitron", sans-serif;
  letter-spacing: 1px;
}
.secondText {
  font-family: "Rajdhani", sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

/* swiper */
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px !important;

  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  margin: 20px 0;
}

.swiper-slide .link {
  clip-path: polygon(
    11% 0,
    80% 0%,
    100% 0,
    100% 56%,
    87% 100%,
    0 100%,
    0% 80%,
    0 46%
  );
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 220px;
  object-fit: cover;
}

input[type="radio"]:after {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  cursor: pointer;
  position: relative;
  background-color: #535353;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"]:checked:after {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  cursor: pointer;
  position: relative;
  background-color: #fff;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

@media (min-width: 768px) {
  .cardBlog:nth-child(even) {
    flex-direction: row-reverse;
  }
  .cardBlog:nth-child(even) .left {
    display: flex;
    justify-content: flex-end;
  }
}
